<div class="container max-width-100">
  <div class="footer__inner">
    <!-- Footer row -->
    <div class="footer__row">
      <!-- Footer column -->
      <div class="footer__column">
        <a href="">
          <img class="footer__logo" src="./assets/img/logo.jpg" alt="">
        </a>
      </div>

      <div class="footer__column">
        <h3 class="footer__heading">Thông tin liên hệ</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="tel:0367.844.621" class="footer__link">Hotline: 036 784 4621</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Địa chỉ: Rạch Giá , Rach Gia, Vietnam</a>
          </li>
          <li class="footer__item flex-center">
            <svg class="icon map-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
            <a href="https://www.google.com/maps/place/Tr%C6%B0%E1%BB%9Dng+THPT+H%C3%B2n+%C4%90%E1%BA%A5t/@10.1829595,104.9301185,17z/data=!3m1!4b1!4m6!3m5!1s0x31a756ab7d8eece7:0x78a90561b4dc1519!8m2!3d10.1829595!4d104.9326934!16s%2Fg%2F1jkwc80ng?hl=vi-VN&entry=ttu&g_ep=EgoyMDI0MDkzMC4wIKXMDSoASAFQAw%3D%3D" class="footer__link">Xem trên Google map</a>
          </li>
        </ul>
      </div>

      
      <div class="footer__column">
        <h3 class="footer__heading">Thông tin liên hệ</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="tel:0367.844.621" class="footer__link">Hotline: 036 784 4621</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Địa chỉ: Rạch Giá , Rach Gia, Vietnam</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Xem trên Google map</a>
          </li>
        </ul>
      </div>

      
      <div class="footer__column">
        <h3 class="footer__heading">Thông tin liên hệ</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="tel:0367.844.621" class="footer__link">Hotline: 036 784 4621</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Địa chỉ: Rạch Giá , Rach Gia, Vietnam</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Xem trên Google map</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Footer bottom -->
  <div class="footer__bottom">
    <!-- Footer social -->
    <div class="footer__social">
      <a href="https://www.facebook.com/@RealLovePhongSuCuoi" class="footer__social-link footer__social-link--facebook">
        <img src="./assets/icons/facebook-icon.svg" alt="" class="footer__social-icon" />
      </a>

      <a href="tel:0367.844.621" class="footer__social-link footer__social-link--phone">
        <img src="./assets/icons/phone-icon.svg" alt="" class="footer__social-icon" />
      </a>

      <a href="#!" class="footer__social-link footer__social-link--tiktok">
        <img src="./assets/icons/tiktok-icon.svg" alt="" class="footer__social-icon" />
      </a>
    </div>
    <!-- Copyright -->
    <div class="copyright">
      <span class="copyright__text">Copyright 2024 © realove.com.vn</span>
    </div>  

  </div>
</dvi>
