<div class="header__wrap">
  <!-- Top bar -->
  <div class="top-bar">
    <div class="container max-width-100">
      <div class="top-bar__inner">
        <!-- Connection -->
        <div class="connection">
          <div class="hotline">
            <img
              class="hotline-icon icon"
              src="./assets/icons/hotline-icon.svg"
              alt=""
            />
            <a href="tel:0837.386.074">0837386074</a>
          </div>

          <div class="mail">
            <img
              class="mail-icon icon"
              src="./assets/icons/envelope-solid.svg"
              alt=""
            />
            <a href="mailto:reallove@gmail.com">reallove@gmail.com</a>
          </div>
        </div>

        <label  class="switch">
          <span class="sun"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="#ffd43b"><circle r="5" cy="12" cx="12"></circle><path d="m21 13h-1a1 1 0 0 1 0-2h1a1 1 0 0 1 0 2zm-17 0h-1a1 1 0 0 1 0-2h1a1 1 0 0 1 0 2zm13.66-5.66a1 1 0 0 1 -.66-.29 1 1 0 0 1 0-1.41l.71-.71a1 1 0 1 1 1.41 1.41l-.71.71a1 1 0 0 1 -.75.29zm-12.02 12.02a1 1 0 0 1 -.71-.29 1 1 0 0 1 0-1.41l.71-.66a1 1 0 0 1 1.41 1.41l-.71.71a1 1 0 0 1 -.7.24zm6.36-14.36a1 1 0 0 1 -1-1v-1a1 1 0 0 1 2 0v1a1 1 0 0 1 -1 1zm0 17a1 1 0 0 1 -1-1v-1a1 1 0 0 1 2 0v1a1 1 0 0 1 -1 1zm-5.66-14.66a1 1 0 0 1 -.7-.29l-.71-.71a1 1 0 0 1 1.41-1.41l.71.71a1 1 0 0 1 0 1.41 1 1 0 0 1 -.71.29zm12.02 12.02a1 1 0 0 1 -.7-.29l-.66-.71a1 1 0 0 1 1.36-1.36l.71.71a1 1 0 0 1 0 1.41 1 1 0 0 1 -.71.24z"></path></g></svg></span>
          <input id="switch-theme-btn" type="checkbox" class="input">
          <span class="slider"></span>
        </label>
      </div>
    </div>
  </div>
  <!-- Main Header -->
  <div class="main-header">
    <div class="container">
      <div class="main-header__inner">
        <!-- Logo -->
        <a href="\">
          <img src="./assets/img/logo.jpg" alt="" class="logo" />
        </a>

        <button class="nav-bar__menu js-toggle">
          <img class="nav-bar__menu-icon icon" src="./assets/icons/menu-icon.svg" alt="">
        </button>
        <!-- Nav bar -->
        <nav id="navbar" class="nav-bar hide">
          <!-- Back btn -->
          <button class="nav-bar__back-btn js-toggle">
            <img class="nav-bar__back-icon icon" src="./assets/icons/back-icon.svg" alt="">
          </button>
          <!-- Nav bar list -->
          <ul class="nav-bar__list js-dropdown-list">
            <li class="nav-bar__item">
              <a href="./index.html" class="nav-bar__link">Trang chủ</a>
            </li>

            <li class="nav-bar__item">
              <a href="#!" class="nav-bar__link">Giới thiệu</a>
            </li>

            <li class="nav-bar__item">
              <a href="./album-page.html" class="nav-bar__link">Album</a>
              <!-- Dropdown -->
              <div class="dropdown">
                <div class="dropdown__inner">
                  <!-- Dropdown column -->
                  <div class="dropdown__column">
                    <h2 class="dropdown__heading">Indoor Studio</h2>
                    <!-- Dropdown list -->
                    <ul class="dropdown__list">
                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Signature Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Sample Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Collection</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Beauty</a>
                      </li>

                    </ul>
                  </div>
                  <!-- Dropdown column -->
                  <div class="dropdown__column">
                    <h2 class="dropdown__heading">Indoor Studio</h2>
                    <!-- Dropdown list -->
                    <ul class="dropdown__list">
                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Signature Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Sample Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Collection</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Beauty</a>
                      </li>

                    </ul>
                  </div>
                  <!-- Dropdown column -->
                  <div class="dropdown__column">
                    <h2 class="dropdown__heading">Indoor Studio</h2>
                    <!-- Dropdown list -->
                    <ul class="dropdown__list">
                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Signature Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Sample Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Collection</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Beauty</a>
                      </li>

                    </ul>
                  </div>
                  <!-- Dropdown column -->
                  <div class="dropdown__column">
                    <h2 class="dropdown__heading">Indoor Studio</h2>
                    <!-- Dropdown list -->
                    <ul class="dropdown__list">
                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Signature Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Sample Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Collection</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Beauty</a>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </li>

            <li class="nav-bar__item">
              <a href="./videos-page.html" class="nav-bar__link">Video</a>
              <!-- Dropdown -->
              <div class="dropdown">
                <div class="dropdown__inner">
                  <!-- Dropdown column -->
                  <div class="dropdown__column">
                    <h2 class="dropdown__heading">Indoor Studio</h2>
                    <!-- Dropdown list -->
                    <ul class="dropdown__list">
                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Signature Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Sample Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Collection</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Beauty</a>
                      </li>

                    </ul>
                  </div>
                  <!-- Dropdown column -->
                  <div class="dropdown__column">
                    <h2 class="dropdown__heading">Indoor Studio</h2>
                    <!-- Dropdown list -->
                    <ul class="dropdown__list">
                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Signature Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Sample Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Collection</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Beauty</a>
                      </li>

                    </ul>
                  </div>
                  <!-- Dropdown column -->
                  <div class="dropdown__column">
                    <h2 class="dropdown__heading">Indoor Studio</h2>
                    <!-- Dropdown list -->
                    <ul class="dropdown__list">
                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Signature Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Sample Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Collection</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Beauty</a>
                      </li>

                    </ul>
                  </div>
                  <!-- Dropdown column -->
                  <div class="dropdown__column">
                    <h2 class="dropdown__heading">Indoor Studio</h2>
                    <!-- Dropdown list -->
                    <ul class="dropdown__list">
                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Signature Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Sample Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Collection</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Beauty</a>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </li>

            <li class="nav-bar__item">
              <a href="./wedding-gown-page.html" class="nav-bar__link">Trang Phục Cưới</a>

              <!-- Dropdown -->
              <div class="dropdown">
                <div class="dropdown__inner">
                  <!-- Dropdown column -->
                  <div class="dropdown__column">
                    <h2 class="dropdown__heading">Indoor Studio</h2>
                    <!-- Dropdown list -->
                    <ul class="dropdown__list">
                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Signature Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Sample Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Collection</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Beauty</a>
                      </li>

                    </ul>
                  </div>
                  <!-- Dropdown column -->
                  <div class="dropdown__column">
                    <h2 class="dropdown__heading">Indoor Studio</h2>
                    <!-- Dropdown list -->
                    <ul class="dropdown__list">
                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Signature Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Sample Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Collection</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Beauty</a>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </li>

            <li class="nav-bar__item">
              <a href="./makeup-page.html" class="nav-bar__link">Trang Điểm</a>
              <!-- Dropdown -->
              <div class="dropdown">
                <div class="dropdown__inner">
                  <!-- Dropdown column -->
                  <div class="dropdown__column">
                    <h2 class="dropdown__heading">Indoor Studio</h2>
                    <!-- Dropdown list -->
                    <ul class="dropdown__list">
                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Signature Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Sample Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Collection</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Beauty</a>
                      </li>

                    </ul>
                  </div>

                  
                  <div class="dropdown__column">
                    <h2 class="dropdown__heading">Indoor Studio</h2>
                    <!-- Dropdown list -->
                    <ul class="dropdown__list">
                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Signature Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Sample Concept</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Collection</a>
                      </li>

                      <li class="dropdown__item">
                        <a class="dropdown__link" href="#!">Beauty</a>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </nav>

        <div class="view">
          <img class="view-img icon" src="./assets/icons/view-icon.svg" alt="">
          <span class="view-text">77</span>
        </div>

        <a href="" class="login-btn-wrap">
          <button class="login-btn">Đăng nhập</button>
        </a>
        <!-- Navbar overlay -->
        <div class="nav-bar__overlay js-toggle"></div>
      </div>
    </div>
  </div>
</div>