html.dark {
  // common
  --text-color: #fff;

  --connection-color: #fff;
  --top-bar-bg: #171c28;
  --color-icon: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(7500%) hue-rotate(343deg) brightness(101%) contrast(101%);

  // Main Header
  --main-header-bg: #2d2c2c;

  // Nav bar
  --nav-bar-mobile-bg: #292e39;

  // Slideshow
  --slideshow-bg: #353535;
  
  // Dropdown bg
  --dropdown-bg: #292e39;

  // Album box-shadow
  --album-box-shadow: rgba(226, 219, 219, 0.24);

  // Section
  --section-bg: #232324;
  --text-section: #dbcfcf;
}
