html {
  // common
  --text-color: #1a162e;

  // Connection
  --connection-color: #1a162e;

  // Top bar
  --top-bar-bg: #eeeeee;
  --color-icon: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%)
    hue-rotate(21deg) brightness(95%) contrast(100%);

  // Main Header
  --main-header-bg: #fff;

  // Nav bar
  --nav-bar-mobile-bg: #fff;

  // Slideshow
  --slideshow-bg: #fff;

  // Dropdown bg
  --dropdown-bg: #fff;

  // Social connect bg
  --social-connect-bg: #fff;

  // Album box-shadow
  --album-box-shadow: rgba(0, 0, 0, 0.24);

  // Section
  --section-bg: #f7f7ff;
  --text-section: #716d6d;

  // Footer
  --footer-bg: #eee;
  --logo-box-shadow: rgba(240, 46, 224, 0.489) -5px 5px, rgba(240, 46, 224, 0.3) -10px 10px, rgba(240, 46, 224, 0.2) -15px 15px, rgba(240, 46, 224, 0.1) -20px 20px, rgba(240, 46, 224, 0.05) -25px 25px;
}