html {
  // common
  --text-color: #1a162e;

  // Connection
  --connection-color: #1a162e;

  // Top bar
  --top-bar-bg: #eeeeee;
  --color-icon: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%)
    hue-rotate(21deg) brightness(95%) contrast(100%);

  // Main Header
  --main-header-bg: #fff;
}
