.album {
  margin-top: 50px;

  &-box-img {
    position: relative;
    height: 400px;
    width: 100%;
    box-shadow: var(--album-box-shadow) 0px 3px 8px;
    overflow: hidden;
    border-radius: 8px;
  }

  &-box-img:hover &-img {
    scale: (1.1);
  }

  &-box {
    display: block;
    width: 100%;
    height: 100%;
  }

  &-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: 0.3s;
  }
}

// Album text box

.album-text-box {
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 100px;
  padding: 10px;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  border-top-right-radius: 10px;
  transition: all 0.4s ease;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 9px;
    z-index: -10;
    filter: blur(0);
    transition: filter 0.4s ease;
  }

  &:hover::before {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    filter: blur(12px);
  }

  &:active::before {
    filter: blur(2px);
  }
}

.album-text-inner {
  white-space: nowrap;
  font-size: 1.4rem; 
  font-weight: 600;
  font-style: italic;
  padding: 6px 8px;
  border: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  box-shadow: 2px 2px 3px #000000b4;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}




